.item_h1 {
  text-transform: uppercase;
}
.item_div {
  position: relative;
  object-fit: contain;
}
.span_des {
  /* padding: 0 20px; */
  text-transform: uppercase;
}
.span_des_id::after {
  width: 6px;
  padding-left: 24px;
  float: right;
  content: '/';
  display: block;
  color: rgba(31, 41, 51, 0.5);
}
.item_tag_container {
  display: flex;
  justify-content: flex-start;
  border: solid #333;
  border-width: 1px 0 3px;
}
.item_tag_span {
  padding-right: 25px;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #a6a6a6;
}
@media (max-width: 767px) {
  .span_des_id::after {
    width: 55px;
    padding-left: 24px;
    float: right;
    content: '/';
    display: block;
    color: rgba(31, 41, 51, 0.5);
  }
}
